<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.smithimage.cordova.mapkit"
      version="0.1.0">

    <name>mapkit</name>
    <description>Cordova MapKit Plugin</description>
    <license>MIT</license>
    <keywords>cordova, mapkit</keywords>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
                <feature name="MapKitView">
                        <param name="ios-package" value="MapKitView"/>
                </feature>
	</config-file>

       <js-module src="www/MapKitPlug.js" name="mapkit"></js-module>

	<header-file src="src/ios/AsyncImageView.h" compiler-flags="-fno-objc-arc"  />
	<source-file src="src/ios/AsyncImageView.m" compiler-flags="-fno-objc-arc" />

       	<header-file src="src/ios/CDVAnnotation.h" compiler-flags="-fno-objc-arc" />
	<source-file src="src/ios/CDVAnnotation.m" compiler-flags="-fno-objc-arc" />

	<header-file src="src/ios/DDAnnotation.h" compiler-flags="-fno-objc-arc" />
	<source-file src="src/ios/DDAnnotation.m" compiler-flags="-fno-objc-arc" />

	<header-file src="src/ios/DDAnnotationView.h" compiler-flags="-fno-objc-arc" />
	<source-file src="src/ios/DDAnnotationView.m" compiler-flags="-fno-objc-arc" />
	
	<header-file src="src/ios/JSONKit.h" compiler-flags="-fno-objc-arc" />
	<source-file src="src/ios/JSONKit.m" compiler-flags="-fno-objc-arc" />

	<header-file src="src/ios/MapKit.h" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/MapKit.m" compiler-flags="-fno-objc-arc" />
       

	<framework src="MapKit.framework" />
 	<framework src="QuartzCore.framework" />
	

    </platform>

</plugin>
